//== Base
$base-font-family:"Lato","Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "Open sans", "Meiryo", sans-serif;
$base-font-size:16px;
$base-color-71:rgb(71,71,71);

$form-font-family:"Lato","Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "Open sans", "Meiryo", sans-serif;
$form-font-size:14px;
$form-font-weight:400;

$topmenu-zindex:10;


$menu-color: #29344f;
$menu-over-color: #26a69a;
$menu-over-color2: #ffcc80;
$side-btn-color: #ff354d;

$btn-line-color: #ff3478;

$over-color: #26a69a;

$gray:#999;
$gray-light:#f1f1f1;

//== Base colors *
$base-color-71: rgb(71, 71, 71); //#474747
$base-color-117: rgb(117, 117, 117); //#757575
$base-color-168: rgb(168, 168, 168); //#a8a8a8
$base-color-219: rgb(219, 219, 219); //#dbdbdb
$base-color-241: rgb(241, 241, 241); //#f2f2f2